.card {
    position: relative;
    width: 160px;
    height: 160px;
    border: 5px solid #871222;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: #FFF9EB 0 0 10px 5px;
    transition: 0.5s transform ease-in-out;
    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card::after {
    content: "";
    display: block;
    width: 170px;
    height: 170px;
    background-image: url(../img/card-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top:0;
    left:0;
    position: absolute;
    backface-visibility: hidden;
}

.card-show {
    transform: rotateY(180deg);
}

@media (max-width: 480px) {
    .card {
      width: 90px;
      height: 90px;
    }
  }