.container {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}
.game-info {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.moves {
    font-size: 20px;
    color: #871222;
    margin: 10px;
    font-weight: 600;
    margin-top: 20px;
}

.time {
    font-size: 20px;
    color: #871222;
    font-weight: 600;
    margin: 10px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.again {
    background-color: #871222;
    font-size: 20px;
    border-radius: 10px;
    border: 6px solid transparent;
    padding: 10px 25px;
    font-family: inherit;
    color: #FFF9EB;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-bottom: 40px;
}
.again:hover {
    border-color: #FFF9EB;
}

.win-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-family: inherit;
}
  
.win-modal {
    background: #9FB2AC;
    color: #871222;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
}

.win-modal h2 {
    font-size: 30px;
}
.win-modal p {
    font-size: 25px;
    margin: 20px;
}
  
.win-modal button {
    margin: 20px 30px 10px 30px;
    padding: 10px 30px;
    cursor: pointer;
}

.again2 {
    background-color:#FFF9EB;
    font-size: 20px;
    border-radius: 10px;
    border: 6px solid transparent;
    padding: 10px 25px;
    font-family: inherit;
    color:#871222;
    cursor: pointer;
    transition: border-color 0.25s;
}
.again2:hover {
    border-color:#871222;
}
@media (max-width: 480px) {
    .container {
      grid-template-columns: repeat(3, 90px);
      gap: 9px;
    }
    .win-modal {
        width: 100%;
        padding: 20px;
    }
    .win-modal h2 {
        font-size: 20px;
    }
    .again {
        background-color: #871222;
        font-size: 20px;
        border-radius: 10px;
        border: 6px solid transparent;
        padding: 10px 25px;
        font-family: inherit;
        color: #FFF9EB;
        cursor: pointer;
        transition: border-color 0.25s;
        margin-bottom: 40px;
    }
    .again:hover {
        border-color: #FFF9EB;
    }
  }
  